body{
	font-family: 'Inter', sans-serif;
	background: #F3F5FC;
	text-align: center;
}

*{
	margin: 0px;
	padding: 0px;
}

.logo{

	width: 75px;
    margin-top: 20px;
    margin-left: -81%;
    margin-right: auto;
}

.container{
	display: flex;
}

.enviar{

	flex: 1 1 auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.9;
	font-weight: 400px;

}

.busca {
	width: 450;
	height: auto;
}

.receber{

	flex: 1 1 auto;
	margin-left: auto;
	margin-right: auto;
}

#enviar-texto{

	width: 450px;
    height: 405px;
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: auto;
}


#envia-texto{

	width: 450px;
	flex: 1 1 auto;
    height: 405px;
    background: white;
    box-shadow: none;
    border: solid #0A3871 1px;
    resize: none;
    outline: 0;
    padding: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 10%;
    color:#0A3871 ;
    font-size: 1.4em;
    font-weight: 400px;
    text-align: justify;
    }

.enviar textarea::placeholder {
	color: #0A3871;
	font-size: 1.4em;
	font-weight: 400px;
	text-align: justify;
} 

.enviar h4 {

	text-align: center;
	color: #c0c0c0;
}

.caixa-button{

	margin-left: -30%;
}

.btn-copiar{

	background: #120a8f;
	border: #0A3871 solid 1px ;
	border-radius: 10px;
	width: 11%;
	height: 47px;
	color: white;
	text-align: center;
    margin-top: 8px;
    margin-left: 48%;
    cursor: pointer;
}

.btn-copiar:hover{
	background: white;
	color: #0a3871;
	font-size: 0.8em;
	transition: 200ms;
}

	
.btn-cript{
	background: #0A3871;
    border-radius: 24px;
    border: none;
    width: 17%;
    height: 47px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3px;
    margin-left: 2%;
    cursor: pointer;
}

.btn-cript:hover{
	background: #4169E1;
	font-size: 0.8em;
	transition: 200ms;
	
}

.btn-descript{
	background: #808080;
    border-radius: 24px;
    border: none;
    width: 17%;
    height: 47px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3px;
    margin-left: 1%;
    cursor: pointer;
}

.btn-descript:hover{
	background: #A9A9A9;
	font-size: 0.8em;
	transition: 200ms;
}

.rodape{

	font-size: 0.7em;
	text-align: center;
	padding: 30px;
	margin-top: 20px;
	clear: both;
	vertical-align: baseline;
	color: #0A3871;
}

/** media **/

@media (max-width: 767px){

.logo{

	width: 50px;
    margin-top: 20px;
    margin-left: -75%;
    margin-right: auto;
}

.container{
	display: block;
}

.busca, .receber {
	display: block;
}

.enviar{

	margin-left: 15%;
	margin-right: auto;
	font-weight: 400px;

}

.enviar h4 {

	text-align: center;
	margin-left: 15%;
	margin-right: auto;
	color: #c0c0c0;
	font-size: 0.9em;
	margin-bottom: 8px;
	padding: 1px;
}

.receber{

	margin-left: 30%;
	margin-right: auto;
}

.caixa-button{

	margin-left: 15%;
	margin-bottom: 10px;
	display: inline;
}

.btn-cript, .btn-descript{
	width: 30%;
    height: 47px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3px;
    margin-left: 10%;
    cursor: pointer;
}

.rodape{

	padding: 10px;
	margin-top: 10px;
	margin-left: 40%;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 0.5;

} 

.btn-copiar{

	border-radius: 10px;
	width: 20%;
	height: 47px;
	color: white;
	text-align: center;
    margin-top: 8px;
    margin-left: 48%;
    cursor: pointer;
}
}
